/* BOTÕES */
.botao-1 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 16px 32px;
  font-weight: 600;
  display: inline-block;
  border-radius: 4px;
  color: var(--cor-p5);
  background: var(--gradiente, linear-gradient(#ffbf00, #f2a50c));
}
.botao-1:hover {
  background: var(--gradiente, linear-gradient(#c99704, #d6920a));
  color: var(--cor-p5);
}
@media (max-width: 1150px) {
  .botao-1 {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .botao-1 {
    font-size: 1rem;
    padding: 12px 16px;
  }
}
/* botão com seta */

.botao-1.seta {
  display: flex;
  align-items: center;
}
.botao-1.seta:hover {
  background: var(--gradiente, linear-gradient(#ffbf00, #f2a50c));
  color: var(--cor-p5);
}

.botao-1.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url(../../img/icones/seta.svg);
  transition: transform 0.2s;
}

.botao-1.seta:hover::after {
  transform: translateX(4px);
}

/* efeito "vazar" a imagem */
.efeito-foto-duplo {
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

/* backgrounds */
.bg-12 {
  background-color: var(--cor-12);
}
.bg-11 {
  background-color: var(--cor-11);
}
.bg-0 {
  background-color: var(--cor-0);
}

/* titulos internos */
.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
}
.titulo-bg p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo-bg p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
  .titulo-bg .preco-span {
    font-size: 1rem;
    font-weight: 400;
  }
}
