/* BOTÕES */
.botao-1 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 16px 32px;
  font-weight: 600;
  display: inline-block;
  border-radius: 4px;
  color: var(--cor-p5);
  background: var(--gradiente, linear-gradient(#ffbf00, #f2a50c));
}
.botao-1:hover {
  background: var(--gradiente, linear-gradient(#c99704, #d6920a));
  color: var(--cor-p5);
}
@media (max-width: 1150px) {
  .botao-1 {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .botao-1 {
    font-size: 1rem;
    padding: 12px 16px;
  }
}
